%body
  %footer.footer
    .row
      .small-12.columns
        %p.slogan#contact Contact me
        %p If you´re interested in my work please contact me
        %h4 Email:
        %p felix.ottander@yahoo.com
