.projects
  - data.projects.each do |project|
    #test-eq.row{"data-equalize-on" => "medium", "data-equalizer" => "bla"}
      .medium-6.medium-centered.columns
        .callout{"data-equalizer-watch" => "bla"}
          %h4= project[:name]
          %h5= project[:description]
          %p= project[:github]
