%body
  %header.header
    %ul.header-subnav
      %li
        %a{href: "/"} Home
      %li
        %a.is-active{href: "#"} About
      %li
        %a{href: "http://zurb.com/responsive", target: "_blank"} Contact
